.accountContainer {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.designListContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.canvas {
    width: 90%;
    max-width: 700px;
}

.button { 
    composes: button from './util.css';
    width: 100px;
    display: flex;
    justify-content: center;
}

.design {
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.createDesignContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}