.customSpecContainer {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.customSpecContents {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 1200px;
}

.button {
    composes: button from './util.css';
    width: 100px;
}