.home h1 {
    text-align: center;
    color: white
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconDescContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.row, .bigScreenReverseRow {
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: darkslategrey;
    color: white;
    font-size: 40px;
}

.text {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 15px;
    flex: 1;
}

.button {
    composes: button from './util.css';
}

@media screen and (min-width: 718px) {
    .row {
        height: 100px;
        display: flex;
        flex-direction: row;
    }

    .bigScreenReverseRow {
        height: 100px;
        display: flex;
        flex-direction: row-reverse;
    }
}