.imageUpload {
    align-self: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imageUpload h3 {
    color: #dfe2e2;
}

.button {
    margin-top: 15px;
    background-color: #F58B20;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.button p {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
}

.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    padding: 90px 20;
}

.hidden {
    display: none;
}

.minimized {
    font-size: larger;
    width: 100%;
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    text-align: center;
    color: #dfe2e2;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.minimized:hover {
    cursor: pointer;
}