.imageUpload {
    composes: customInputDiv from 'util.css';
    align-self: center;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 15px;
}

.imageUpload h3 {
    color: #dfe2e2;
}

.button {
    composes: button from './util.css';
    margin-top: 15px;
}

.button p {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover {
    cursor: pointer;
}

.fileInput {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    padding: 90px 20;
}

.hidden {
    display: none;
}

.minimized {
    composes: minimized from './util.css';
}

.minimized:hover {
    cursor: pointer;
}