.scaleInputForm {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.scaleInput input{
    margin: 5px;
    flex: 2;
}

.scaleInput button {
    margin: 5px;
    flex: 1;
}

.scaleInput {
    composes: customInputDiv from 'util.css';
    text-align: center;
}

.scaleInput h3 {
    text-align: center;
    color: #dfe2e2;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #b56618;
}

.button {
    composes: button from './util.css';
    min-height: 40px;
}

.minimized {
    composes: minimized from './util.css'
}

.minimized:hover {
    cursor: pointer;
    background-color: #146ba2;
}

