.shapeInput {
    composes: customInputDiv from 'util.css';
    padding-top: 15px;
}

.shapeInput h3 {
    text-align: center;
    color: #dfe2e2;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #b56618;
}

.button {
    composes: button from 'util.css';
    width: 120px;
}

.minimized {
    composes: minimized from './util.css'
}

.minimized:hover {
    cursor: pointer;
}