.button {
    text-align: center;
    background-color: #F58B20;
    border: none;
    min-height: 40px;
    border-radius: 5px;
    font-weight: bolder;
}

.customInputDiv {
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    width: 100%;
    padding-top: 15px;
    margin-bottom: 20px;
}

.minimized {
    font-size: larger;
    color: #dfe2e2;
    padding-top: 15px;
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 20px;
    text-align: center;
}