@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Nanum+Gothic+Coding&display=swap');

body {
    background-color: #393e46;
    width: 100%;
    margin: 0;
}

.button {
    text-align: center;
    background-color: #F58B20;
    border: none;
    min-height: 40px;
    border-radius: 5px;
    font-weight: bolder;
    margin: auto;
}

.accountButton {
    width: 100%;
    max-width: 320px;
    margin-top: 30px;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background-color: #b56618;
}

.customActive {
    padding-top: 15px;
    background-color: #3c415e;
    border: 5px solid #1cb3c8;
    border-radius: 5px;
    margin-left: 10%;
    width: 100%;
    margin-top: 20px;
}

.customActive h3 {
    text-align: center;
    color: #dfe2e2;
}

.hidden {
    display: none;
}

.results {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.results button{
    width: 90%;
}